* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 {
 font-size: 4rem;
 font-weight: 400;
}
h2 {
 font-size: 2.7rem;
 font-weight: 400;
}
.pb-0 {
  padding-bottom: 0 !important;
}
#top-container {
  border: 1px solid #707070 ;
}
.container {
  width: 80%;
  display: flex;
  margin: auto;
  padding: 1rem;
}
.top-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.clock {
  display: flex;
  font-size: 1rem;
}
.clock img {
  margin-right: .7rem;
}
.clock p {
  color: #626262;
}
.social-media {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.social-media li {
  list-style: none;
}
.social-media a {
  text-decoration: none;
  color: #2BAAEC ;
}

.social-media a:hover {
  color: #25E6C8;
}
.main-menu {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}
.navbar {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.navbar li {
  list-style: none;
  font-size: 1.2rem;
}
.navbar a {
  text-decoration: none;
  color: #363636 ; 
}
#showcase {
  background-color:#DEDEDE ;
  height: 700px;
  width: 100%;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
#showcase img {
  
}
.infoCont {
  display: flex;
  align-items: center;
  
}
.showcaseInfo {
  width: 690px;
  height: 341px;
  margin-left: 5rem ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.showcaseInfo h1 {
  /* font-size: 4rem; */
  font-weight: 400;
  /* padding: 0 2rem; */
}
.showcaseInfo p {
  font-size: 1.2rem;
}
.showcaseInfo button {
  /* padding: 2rem; */
}
.btn {
  /* display: inline; */
  /* padding: 1rem 3rem; */
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  height: 58px;
  width: 240px ;
  /* position: absolute; */

}
.btn-primary {
  background-color:#25e6c8 ;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
}
.btn:hover {
  
  background-color: #2BAAEC ;
  width: 239px;
  height: 60px;
  transition: width .2s, height .2s;
  transition-timing-function: ease-in;
}
.about-us-cont {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin: auto;
  padding-top: 5rem;
}

.about-us {
  display: flex;
  height: 550px;
  flex-direction: column;
  justify-content: space-evenly;
  
}
.header-about {
  /* padding-bottom: 1rem; */
  width: 570px;
}
.header-border {
  border-bottom: 4px solid #25E6C8;
  width: 705px;
}
.stats {
  display: flex;
  justify-content: space-between;
  width: 578px;
}
.text {
  display: inline-block;
  width: 690px;
}
#textMarg {
  margin-bottom: 1rem;
}
.color-primary {
  color: #2BAAEC;
}
