:root {
  --blue-color: #2baaec; 
  --blue-color-low-opacity: #2ba8ec49; 
  --blue-color-80-opacity: #2ba8ecc5; 
  --green-color: #25e6c8;
  --title-color: #363636;
  --text-color: #626262;
  --placehold-color: #dedede;
  --bg-color: #f7f7f7;
  --bg-dark: #163c70;
  --outline-color: #d2d2d2;
  --txt-footer-color: #f3fbff;
  --placehold2-color: #bfbfbf;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 {
 font-size: 4rem;
 font-weight: 400;
}
h2 {
 font-size: 2.7rem;
 font-weight: 400;
}
h3 {
  font-size: 1.6rem;
  font-weight: 400;
}
a {
  text-decoration: none;
}
.pb-0 {
  padding-bottom: 0 !important;
}
#top-container {
  border: 1px solid #707070 ;
}
.container {
  width: 80%;
  display: flex;
  margin: auto;
  padding: 1rem;
}

/* Top menu START */
.top-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.clock {
  display: flex;
  font-size: 1rem;
}
.clock img {
  margin-right: .7rem;
}
.clock p {
  color: #626262;
}
.social-media {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.social-media li {
  list-style: none;
}
.social-media a {
  text-decoration: none;
  color: var(--blue-color) ;
}

.social-media a:hover {
  color: var(--green-color);
}
/* Top Menu END */
/* Nav START */
.main-menu {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}
.navbar {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.navbar li {
  list-style: none;
  font-size: 1.2rem;
}
.navbar a {
  text-decoration: none;
  color: var(--title-color) ; 
}
/* Nav END */
/* Showcase START */
#showcase {
  background-color:var(--placehold-color) ;
  height: 700px;
  width: 100%;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.infoCont {
  display: flex;
  align-items: center;
}
.showcaseInfo {
  width: 690px;
  height: 341px;
  margin-left: 5rem ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.showcaseInfo h1 {
  font-weight: 400;
  
}
.showcaseInfo p {
  font-size: 1.1rem;
}
.btn {
  padding: 1.1rem;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  width: 240px ;
  
}
.btn-primary {
  background-color:var(--green-color) ;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
}
.btn:hover {
  
  background-color: var(--blue-color) ;
  width: 239px;
  height: 60px;

  transition: width .2s, height .2s;
  transition-timing-function: ease-in;
}
/* Showcase END */
/* About us START */
.about-us-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin: auto;
  padding-top: 5rem;
}

.about-us {
  display: flex;
  height: 550px;
  flex-direction: column;
  justify-content: space-evenly;
  
}
.header-about {
  width: 570px;
}
.header-border {
  border-bottom: 4px solid var(--green-color);
  width: 705px;
}
.stats {
  display: flex;
  justify-content: space-between;
  width: 578px;
}
.text {
  display: inline-block;
  width: 690px;
}
#textMarg {
  margin-bottom: 1rem;
}
.color-primary {
  color: var(--blue-color);
}
.text p {
  font-size: 1.1rem;
}
/* About us END */
/* Services START */
.grid-container {
  background-color:var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}
.grid-container .header-border {
  width: 450px;
}
.grid-container h2 {
  margin-bottom: 1.3rem;
}
.grid-wrapper {
  display: grid;
  width: 80%;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(450px, 2fr));
  grid-auto-rows: minmax(430px, auto);
  gap: 2rem;
  margin-top: 3rem;
}
.item {
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: .7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.circle {
  background-color: var(--green-color);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.item p {
  
  color: #626262;
  margin: 0;
  font-size: 1.1rem;
  width: 300px;
}
.item h3 {
  color: #363636 ;
}
.item:hover {
  box-shadow: 0 0 15px 1px #0000000a;
  transition: box-shadow .3s;
  transition-timing-function: ease-in-out;
}
.item:hover .circle {
  background-color: var(--blue-color);
  box-shadow: 0 0 1px 10px var(--blue-color-low-opacity);
  transition: background-color .3s, box-shadow .3s;
  transition-timing-function: ease-in-out;
}
  /* Services END */
 /* Appointment START */
 #appointment {
   background-color: var(--blue-color-80-opacity);
   color: #fff ;
   padding: 4rem 0;
 } 
 .btn-appointment {
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  /* height: 58px; */
  width: 285px ;
  background-color: #FFF ;
  color: var(--blue-color-80-opacity);
  font-size: 18px;
  font-weight: bold;
 }
 #appointment .container {
   justify-content: space-between;
   align-items: center;
   padding: 0 3rem;
 }
 .btn-appointment:hover {
   border: 1px solid #fff;
   background-color: var(--blue-color-80-opacity);
   color: #fff;
   transition: background-color .2s, color .2s;
   transition-timing-function: ease-in-out;
 }
 /* Appointment END */

 /* Footer START */
 #footer {
   background-color: var(--blue-color);
   color: #ffffff91;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2rem;
 }
