:root {
  --blue-color: #2baaec; 
  --blue-color-low-opacity: #2ba8ec49; 
  --blue-color-80-opacity: #2ba8ecc5; 
  --green-color: #25e6c8;
  --title-color: #363636;
  --text-color: #626262;
  --placehold-color: #dedede;
  --bg-color: #f7f7f7;
  --bg-dark: #163c70;
  --outline-color: #d2d2d2;
  --txt-footer-color: #f3fbff;
  --placehold2-color: #bfbfbf;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.border {
  border: 2px solid black;
}
h1 {
 font-size: 3.75rem;
 font-weight: 400;
}
h2 {
 font-size: 2.5rem;
 font-weight: 400;
}
h3 {
  font-size: 1.875rem;
  font-weight: 400;
}
h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}
p {
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  width: 80%;
  display: flex;
  margin: auto;
}
.bg-ph-color {
  background-color: var(--placehold-color);
}
.title-color {
  color: var(--title-color);
}
.text-color {
  color: var(--text-color);
}
.pb-0 {
  padding-bottom: 0 !important;
}
.p-1 {
  padding: 1rem;
}
.pub-1 {
  padding: 1rem 0;
}
.mb-5 {
  margin-bottom: 5rem;
}
.mb-1 {
  margin-bottom: 1rem;
}

/* Top menu START */
#top-container {
  border: 1px solid #707070 ;
}
.top-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.clock {
  display: flex;
  width: 30%;
}
.clock img {
  margin-right: .7rem;
}
.social-media {
  display: flex;
  width: 10%;
  align-items: center;
  justify-content:space-between;
}
.social-media a {
  text-decoration: none;
  color: var(--blue-color) ;
}
.social-media a:hover {
  color: var(--green-color);
}
/* Top Menu END */

/* Nav START */
.main-menu {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
}
.navbar {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar li {
  list-style: none;
  font-size: 1.2rem;
  font-family: 'Roboto Slab', serif;
}
.navbar a {
  text-decoration: none;
  color: var(--title-color) ; 
}
/* Nav END */

/* Showcase START */
#showcase {
  width: auto;
  height: auto;
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
.infoCont {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: space-between;
}
.showcaseInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: auto;
  padding: 0 6rem;
  gap: 2rem;
}
.btn {
  padding: 1.1rem;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  width: 240px ;
}
.btn-primary {
  background-color:var(--green-color) ;
  color: #FFFFFF;
  font-size: 1.1rem;
  font-weight: bold;
}
.btn:hover {
  background-color: var(--blue-color) ;
  transition: background-color 0.3s;
  transition-timing-function: ease-out;
}
/* Showcase END */

/* About us START */
.about-us-cont {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.about-us {
  display: flex;
  width: 60%;
  height: 60%;
  flex-direction: column;
  justify-content: space-between;
}
.header-about {
  width: 70%;
}
.header-border {
  border-bottom: 4px solid var(--green-color);
  width: 90%;
}
.stats {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.stats p {
  color: var(--title-color) ;
  font-family: 'Roboto Slab', serif;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: auto;
}
.color-primary {
  color: var(--blue-color);
}

/* About us END */

/* Services START */
.grid-container {
  background-color:var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}
.grid-container .header-border {
  width: 40%;
}
.grid-container h2 {
  margin-bottom: 1.3rem;
}
.grid-wrapper {
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(430px, 30%));
  grid-auto-rows: minmax(450px, 100%);
  gap: 2rem;
  margin-top: 3rem;
}
.item {
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: .7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  
}
.circle {
  background-color: var(--green-color);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.item p {
  
  color: var(--text-color);
  margin: 0;
  font-size: 1.1rem;
  width: 45%;
}
.item h3 {
  color: var(--title-color) ;
}
.item:hover {
  box-shadow: 0 0 10px 1px #0000000a;
  transition: box-shadow .3s;
  transition-timing-function: ease-out;
}
.item:hover .circle {
  background-color: var(--blue-color);
  box-shadow: 0 0 1px 10px var(--blue-color-low-opacity);
  transition: background-color .3s, box-shadow .3s;
  transition-timing-function: ease-out;
}
  /* Services END */

 /* Appointment START */
 #appointment {
   background-color: var(--blue-color-80-opacity);
   color: #fff ;
   padding: 4rem 0;
  
 } 
 .btn-appointment {
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  width: 285px ;
  background-color: #FFF ;
  color: var(--blue-color-80-opacity);
  font-size: 18px;
  font-weight: bold;
 }
 #appointment .container {
   justify-content: space-between;
   align-items: center;
   padding: 0 3rem;
   
 }

 .btn-appointment:hover {
   border: 1px solid #fff;
   background-color: var(--blue-color-80-opacity);
   color: #fff;
   transition: background-color .2s, color .2s;
   transition-timing-function: ease-in-out;
 }
 /* Appointment END */

 /* Footer START */
 #footer {
   background-color: var(--blue-color);
   color: #ffffff91;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2rem;
 }
 /* Footer END */




/* MEDIA QUERIES START */ /* MEDIA QUERIES START */ /* MEDIA QUERIES START */



 
 
 @media (max-width: 1399.98px) {
   h1 {
     font-size: 3.4rem;
    }
   h2 {
    font-size: 2.3rem;
  }
   h3 {
    font-size: 1.6rem;
   }
   p {
     font-size: 1rem;
   }
   .container {
     width: 85%;
   }
   /* Top-menu START */

   .clock {
     width: auto;
    }

  /* Top-menu END */
 
   .navbar {
     width: 40%;
    }

    /* Showcase START */
    #showcase {
      width: auto ;    
    }  
    .infoCont {
      width: auto;
      height: auto;
    }
   .showcaseInfo {
     justify-content: space-around;
     height: auto;
     align-items: center;
     text-align: center;
     width: auto;
     padding: 0;
    }
    .showcaseInfo h1 {
      margin-bottom: 1rem;
    }
    .btn {
      margin-top: 2rem;
    }
    /* Showcase END */
    
    /* About us START */

    .about-us {
      width: auto;
      height: auto;
      justify-content: space-evenly;
      
    }
    .header-about {
      width: 100%;
      margin-bottom: .5rem;
      
    }
    .stats {
     margin: 1rem 0;
     width: auto;
    }
    .text {
      margin-top: 1rem;
    }
    /* About us END */
    /* Services START */
    .grid-wrapper {
      grid-template-columns: repeat(auto-fill, minmax(auto, 40%));
      grid-auto-rows: minmax(auto, auto);
    }
    .item p {
      padding: .5rem;
      width: auto;
    }
    /* Services END */

    /* Appointment START */
    .btn-appointment {
      margin-top: 2rem;
    }
    /* Appointment END */
  }


 @media (max-width: 992px) {
   h1 {
     font-size: 2.5rem;
    }
   h2 {
    font-size: 1.825rem;
  }
   h3 {
    font-size: 1.5rem;
   }
   p {
     font-size: 1rem;
   }
   .container {
     width: 90%;
   }

    /*Main Menu START  */
    .navbar {
     width: 50%;
     justify-content: space-around;
    }
    /* Main Menu END */
    /* Showcase START */
    .bg-ph-color {
      background-image: url(img/placehold1.png);
      background-repeat: no-repeat;
    }
    #showcase {
     padding: 3rem 0;
     
    }
    #showcase img {
      display: none;
    }
    .infoCont {
      width: 100%;
      height: auto;
    }
    /* Showcase END */
    
    /* About us START */
    .about-us-cont {
      background-image: url(img/placehold2.png);
      background-repeat: no-repeat;
      height: auto;
      padding: 2rem 0;
    }
    .about-us-cont img {
      display: none;
    }
    .about-us {
      padding: 0 1rem;
    }
    .stats {
      width: 70%;
    }
    /* About us END */
    /* Services START */
    .grid-container {
      padding: 3rem;
    }
    .item p {
      font-size: 1rem;
    }
    /* Services END */
    /* Appointment START */
    #appointment {
      padding: 2rem 0;
    }
    #appointment .container {
      flex-direction: column;
    }
  }


 @media (max-width: 767.98px) {
   h1 {
     font-size: 2.3rem;
    }
   h2 {
    font-size: 1.625rem;
  }
   h3 {
    font-size: 1.3rem;
   }
   p {
     font-size: .9rem;
   }
   /* Top-menu START */
 
  /* Top-menu END */
   .main-menu {
     padding: 2rem 0;
    flex-direction: column;
    align-items: center;
  }
   .navbar {
     width: 100%;
     justify-content: space-between;
    }


  

  }
  
  @media (max-width: 575.98px) {
    h1 {
      font-size: 2rem;
    }
    h2 {
     font-size: 1.4rem;
    }
    h3 {
     font-size: 1.1rem;
    }
    p {
      font-size: .8rem;
    }
    .container {
      justify-content: center;
      width: 100%;
    }
    .mb-5 {
      margin-bottom: 2rem;
    }
    /* Top-menu START */
    .top-menu {
      justify-content: space-around;
      align-items: center;
    }
   .social-media {
     width: 20%;
   }
   /* Top-menu END */
   /* Main menu START */
    .main-menu {
     justify-content: space-around;
   }
    .navbar {
     justify-content: space-around;
    }
 
    /* Showcase START */
  
    
    .showcaseInfo {
       padding: 0 1rem;
     }
     /* Showcase END */
 
     /* About us START */
     .about-us-cont {
       background-image: url(img/placehold2.png);
       background-repeat: no-repeat;
      
     }
      .header-about {
       width: 100%;
       margin-bottom: 1rem;     
     }
     .stats {
      margin: 2rem 0;
     }
     .text {
       margin-top: 1rem;
     }
     /* About us END */
     /* Services START */
      .grid-container .header-border {
        width: 80%;
      }
      .grid-container h2 {
        margin: 1.3rem;
        
      }
      .grid-wrapper {
        grid-template-columns: minmax(50px, 60%);
        grid-auto-rows: minmax(auto, auto);
        margin-bottom: 2rem;
     }
     .item p {
       font-size: .8rem;
     }
     /* Services END */
     /* Appointment START */


     /* Appointment END */
   }